<div class="footer bg-[#00497c] text-white p-6">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row justify-between items-center">
      <div class="mb-4 md:mb-0">
        <p class="font-bold mb-2">Liens Légaux</p>
        <p class="mb-1">
          <a href="#" class="text-white hover:underline">Mentions légales</a>
        </p>
        <p class="mb-1">
          <a href="#" class="text-white hover:underline"
            >Données personnelles</a
          >
        </p>
        <p class="mb-1">
          <a href="#" class="text-white hover:underline">Accessibilité</a>
        </p>
        <p class="mb-1">
          <a href="#" class="text-white hover:underline">Cookies</a>
        </p>
      </div>
      <div class="mb-4 md:mb-0">
        <div class="social-icons flex space-x-4">
          <a
            href="https://www.facebook.com"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-facebook-f text-3xl"></i>
          </a>
          <a
            href="https://www.instagram.com"
            class="text-white hover:text-gray-300"
          >
            <i class="fab fa-instagram text-3xl"></i>
          </a>
          <a href="https://www.x.com" class="text-white hover:text-gray-300">
            <i class="fab fa-twitter text-3xl"></i>
          </a>
        </div>
      </div>
      <div>
        <p class="font-bold mb-2">Contactez-nous</p>
        <p class="mb-1">
          101 cours Charlemagne<br />CS 20033<br />69269 LYON CEDEX 02<br />France
        </p>
        <p>+33 (0)4 26 73 40 00</p>
      </div>
    </div>
    <footer class="mt-6 text-center">
      <p>&copy; copyright 2025</p>
    </footer>
  </div>
</div>
