<main>
  <div class="flex flex-row items-center justify-between">
    <h1 class="text-4xl font-bold mx-50">
      Le moyen fiable d'engager un artisan
    </h1>
    <img
      src="assets/images/artisanHome.jpg"
      alt="artisan"
      class="w-250 h-250 rounded-lg"
    />
  </div>
  <section class="flex flex-row items-center justify-between mt-10 mx-4 mb-12">
    <div class="flex flex-col items-center mx-auto">
      <div>
        <img
          src="assets/images/liste.jpg"
          alt="liste"
          class="w-50 h-50 rounded-full"
        />
      </div>
      <div class="text-center">
        <strong class="text-sm">Etape 1</strong>
        <h3 class="text-lg font-bold">
          Choisir la catégorie d’artisan dans le menu
        </h3>
      </div>
    </div>
    <div class="flex flex-col items-center mx-auto">
      <div>
        <img
          src="assets/images/artisan.jpg"
          alt="artisan"
          class="w-50 h-50 rounded-full"
        />
      </div>
      <div class="text-center">
        <strong class="text-sm">Etape 2</strong>
        <h3 class="text-lg font-bold">Choisir un artisan</h3>
      </div>
    </div>
    <div class="flex flex-col items-center mx-auto">
      <div>
        <img
          src="assets/images/contact.jpg"
          alt="contact"
          class="w-50 h-50 rounded-full"
        />
      </div>
      <div class="text-center">
        <strong class="text-sm">Etape 3</strong>
        <h3 class="text-lg font-bold">
          Contacter via le formulaire de contact
        </h3>
      </div>
    </div>
    <div class="flex flex-col items-center mx-auto">
      <div>
        <img
          src="assets/images/reponse.jpg"
          alt="reponse"
          class="w-50 h-50 rounded-full"
        />
      </div>
      <div class="text-center">
        <strong class="text-sm">Etape 4</strong>
        <h3 class="text-lg font-bold">Une réponse sera apportée sous 48h</h3>
      </div>
    </div>
  </section>
  <section class="container mx-auto px-4 py-8">
    <div class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold text-center mb-8">
        Les meilleurs artisans du mois
      </h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        @for (artisan of topArtisans; track artisan.id) {
        <div class="bg-white rounded-lg shadow-md overflow-hidden border-2 border-blue-500">
          <img
            [src]="artisan.img"
            alt="{{ artisan.name }}"
            class="w-full h-48 object-cover"
          />
          <div class="p-4">
            <h2 class="text-xl font-semibold">{{ artisan.name }}</h2>
            <p class="text-gray-600">{{ artisan.specialty }}</p>
            <div class="flex items-center mt-2">
            @for (i of [1, 2, 3, 4, 5]; track i) {
              <span class="text-yellow-500">{{ i <= artisan.note ? '★' : '☆' }}</span>
            }
          </div>
            <p class="text-gray-700 mt-2">{{ artisan.location }}</p>
            <p class="text-gray-800 mt-4">{{ artisan.about }}</p>
            <div class="mt-4 flex justify-center">
              <button
                class="bg-blue-500 text-white px-4 py-2 rounded ml-2"
                type="submit"
              >
                Contacter
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </section>
</main>
